<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diana1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,84},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>diana2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,43},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>diana3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>diana4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>diana5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>diana6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianatext.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bb0d98d57a4c1549fb49afd84362ce6:ca7b13bebb5944615620caf0f0c3d998:2e53397309d3b9d19484ebc4c602139d$</string>
            <key>textureFileName</key>
            <string>dianatext.png</string>
        </dict>
    </dict>
</plist>
